<h3>{{shortDescription}}</h3>
<div class='financial'>
  <span>{{rent}}</span>
  {{#if deposit}}
    <span>{{deposit}} deposit</span>
  {{/if}}
</div>
<address>
  <span>{{streetAddress}}</span>
  <span>{{region}}</span>
  <span>{{neighborhood}}</span>
</address>
<div class='sqft'>
  {{sqft}} sqft
</div>
<div class='long-description'>
  {{description}}
</div>